<div class="row"
	style="background-color: #222; color: #FFFFFF; margin: 0; padding: 0; width: 100%; height: 100%; position: fixed; top: 0; left: 0">



	<form class="form-signinc  col-md-4 col-md-offset-4"
		style="top: 25%;display:none">
		<h2 class="form-signin-heading">请登录</h2>

		<label for="username" class="sr-only">用户名</label> <input type="text"
			id="username" name="username" v-model="username" class="form-control"
			placeholder="用户名" required autofocus=""> <label
			for="password" class="sr-only">密码</label> <input type="password"
			id="password" name="password" v-model="password" class="form-control"
			placeholder="密码" required> <label> <input
			type="checkbox" value="remember-me">记住登录
		</label>

		<div v-if="code && code!=200" class="alert alert-warning ">
			<button type="button" class="close" @click="code=null">×</button>
			{{msg}}
		</div>

		<button type="button"
			class="btn btn-success  btn-primary btn-block btn-lg"
			@click="login()">登录</button>
	</form>



</div>
<!-- /.row -->



