<div id="wrapper">
	<navigation/>

	<div id="page-wrapper">

<div class="row">
	<div class="col-md-11 col-md-offset-1">
	    <div class="col-md-offset-4">
	    <h1>新建交换清洗表单</h1>
	    </div>
		<ol class="breadcrumb">
			<li><a href="javascript:void(0)" @click="updateRouterView('/components/home/home')"><i
					class="fa fa-dashboard"></i>主页</a></li>
			<li><a href="javascript:void(0)"
				@click="updateRouterView('/components/transformer/pageTransformer')"><i
					class="fa fa-dashboard"></i>交换清洗</a></li>
			<li class="active"><i class="fa fa-edit"></i>新建</li>
		</ol>
		<div v-if="code && code!=200" 
			class="alert alert-warning ">
			<button type="button" class="close" @click="code=null"	 >×</button>
			{{msg}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<form id="form" class="form-horizontal " role="form">

			<div class="form-group ">
				<label for="name" class="col-md-2 control-label">交换清洗名称</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.name" name="name" id="name" type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>
			
			<div class="form-group ">
				<label  for="transformerType" class="col-md-2 control-label">交换清洗类型名称</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.transformerType" name="transformerType" id="transformerType" type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="transformerParameterCode" class="col-md-2 control-label">交换清洗代码</label>
				<div class="col-md-9">
				<textarea class="form-control" v-model="query.transformerParameterCode" name="transformerParameterCode" id="transformerParameterCode"></textarea>
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="transformerParameterExtraPackage" class="col-md-2 control-label">交换清洗引入的包</label>
				<div class="col-md-9">			
					<textarea class="form-control" v-model="query.transformerParameterExtraPackage" name="transformerParameterExtraPackage" id="transformerParameterExtraPackage"></textarea>
				</div>
				<p class="help-block with-errors"> </p>
			</div>

		




			<div class="form-group ">
				<button type="button"
					class="col-md-1 col-md-offset-4 btn btn-default" @click="back()">返回</button>
				<button type="button"
					class="col-md-1 col-md-offset-1  btn btn-default"
					@click="saveTransformer()">确定</button>
			</div>

		</form>

	</div>
	</div><!-- /.row -->
</div><!-- /#page-wrapper -->      
</div><!-- /#wrapper -->

