<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>数据交换平台-登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/login.css" rel="stylesheet">
</head>
<body   style="padding-left:10%;padding-right:10%;padding-top: 40px;padding-bottom: 40px;" >
<div id="container" class="container" > 
 <form class="form-signin required-validate" >
		<h2 class="form-signin-heading">密码登录</h2>
		<div>
			<input type="text" v-model="username" class="form-control" placeholder="用户名" required autofocus>
		</div>
		<div>
			<input type="password" v-model="password" class="form-control" placeholder="密码" required>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> 记住登录
			</label>
		</div>
 
		<button type="button" class="btn btn-primary" @click="login()">登录</button>
		  
		<div v-if="code && code!=200" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true" @click="code=null;msg=null">
                &times;
            </button>
            	{{msg}}
        </div>
	</form>	
	
</div>

 
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

      <script type="text/javascript">
        let container = new Vue({
            el: '#container',
            data: {											
            	username:"admin",
            	password:"123456",
    			code:null,
    			msg:null,
    			data:{
    				pageNum:1,
    				pageSize:10,
    				total:null,
    				pageList:null,
    			}
    		},
            methods: {
                login:function() {
                	let username=this.username;
                    let password=this.password;                            
                    let url = "/login?username="+username+"&password="+password;                             
                    fetch(url).then(function(response) {return response.json();}).then(function(result){
                       container.code=result.code;	
  					   if(result.code==200){
  					   		console.log(result);
  						    localStorage.setItem("access_token",result.access_token );
  						    localStorage.setItem("token_type",result.token_type );		  
  						    window.top.location.href = "/index.html";
  					   }else if(result.code==400){						
  						   container.msg="登录失败";
					   }else if(result.code==401){						
  						   container.msg="认证失败";
					   }else if(result.code==403){
						   container.msg="授权失败";					
					   }else{
						   container.msg=result.msg;
					   }  				
  				   }).catch(function(e) {  				
  					 container.msg=result.msg;  					 
  				   });
                        
                }
            },		
    		created: function () {
    	        //取出token，如果不为空，校验token，如果校验成功，重定向到/index.html,
    	    }
        });
    </script>
</body>
</html>