<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>数据交换平台-输入流管理-主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>   
	<div id="pageInput" > 	  
	
	<div class="modal-header">			
		 <h4 class="modal-title">当前位置&raquo;输入流&raquo;新建</h4>		 
	</div> 
		
	    
	    <div class="modal-body">
     <form >	      
	      <div class="form-group ">
		    <label class="col-sm-2 control-label">插件名称</label>
		    <div class="col-sm-2">
		      <input class="form-control"  v-model="name" type="text"  >
		    </div>
		 		   <button type="button" class="btn btn-primary" @click="pageInput(1,data.pageSize)">搜索</button>
		    <button type="button" class="btn btn-primary" @click="saveInput()">新建</button>
		  </div>		      
	  </form>	 

	    <table   class="table  table-bordered  table-hover  table-striped table-responsive " >             
	           <tr >
	                <th class="text-center" >输入流名称</th>
	                <th class="text-center">用户名</th>
	                <th class="text-center">列</th>
	                <th class="text-center">表</th>
	                <th class="text-center">创建人</th>
	                <th class="text-center">创建时间</th>             
	           	</tr>            
	            <tr v-for="item of data.pageList" class="text-center"  >
	                <td >{{item.readerName}}{{item.id}}</td>
	                <td>{{item.readerParameterUsername}}</td>
	                <td>{{item.readerParameterColumn}}</td>
	                <td>{{item.readerParameterConnectionTable}}</td>
	                <td>{{item.createUserName}}</td>
	                <td>{{item.createTime}}</td>            
	            </tr>                 		 
        </table>
        		
        <ul class="pagination">
		    <li> <span>共{{Math.ceil((data.total+1)/data.pageSize)}}页{{data.total}}条记录</span>	</li>
		    <li> <a href="#" @click="pageInput(1,data.pageSize)">首页</a> </li>
		    <li><a href="#" @click="pageInput(data.pageNum>1?data.pageNum-1:data.pageNum,data.pageSize)"  class="previous disabled">&laquo;上一页</a> </li>
			<li><a :style="item.style" v-for="item of array" href='javascript:void(0)' @click="pageInput( item.pageNum,data.pageSize )">{{item.pageNum}}&nbsp;</a></li>
			<li><a href="#" @click="pageInput(data.pageNum<Math.ceil((data.total+1)/data.pageSize)?data.pageNum+1:data.pageNum,data.pageSize)" class="next">下一页&raquo;</a> </li>
			<li><a href="#" @click="pageInput(Math.ceil((data.total+1)/data.pageSize),data.pageSize)">尾页</a> </li>
			<li><span >跳转至<input style="width: 45px;height:100%" type="text" v-model="data.pageNum"  />页</span>	</li> 
			<li><span >每页<input style="width: 45px;height:100%" type="text" v-model="data.pageSize"/>条</span>	</li>	 
			<li><a href='javascript:void(0)' @click="pageInput(data.pageNum,data.pageSize)">确定</a></li>
		</ul>
		<span v-if="code && code!=200">{{msg}}</span>
		</div>
	</div>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
	<script src="/pages/input/pageInput.js"></script>	 
 	
 
</body>
</html>