<div id="wrapper">
	<navigation />

	<div id="page-wrapper">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="javascript:void(0)"
					@click="updateRouterView('/components/home/home')"><i
						class="fa fa-dashboard"></i> 主页</a></li>
				<li class="active"><i class="fa fa-edit"></i>输出流</li>
			</ol>

			<div v-if="code && code!=200" class="alert alert-warning ">
				<button type="button" class="close" @click="code=null">×</button>
				{{msg}}
			</div>
		</div>
		<!-- /.row -->



		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form id="form" class="form-horizontal " role="form">
					<div class="form-group ">
						<label class="col-md-2 control-label">输出流名称</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.name" name="name"
								type="text">
						</div>
					</div>
					
					<div id="demo" class="collapse">
					<div class="form-group ">
						<label class="col-md-2 control-label">输出流类型</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.type" name="name"
								type="text">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">开始时间：</label>
						<div class='col-md-6 input-group date ' id='startCreateTime'>
							<input type='text' class="form-control" v-model="query.startCreateTime"
								data-format="YYYY-MM-DD hh:mm:ss" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">结束时间：</label>
						<div class='col-md-6 input-group date' id='endCreateTime'>
							<input type='text' class="form-control" v-model="query.endCreateTime"
								data-format="YYYY-MM-DD hh:mm:ss" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					</div><!-- /.collapse -->

					<div class="form-group ">
						<button type="button"
							class="col-md-2 btn btn-default"
							data-toggle="collapse" data-target="#demo">高级选型</button>						
						<button type="button"
							class="col-md-1 col-md-offset-1 btn btn-default"
							@click="pageOutput(1,query.pageSize)">搜索</button>
						<button type="button"
							class="col-md-1 col-md-offset-1  btn btn-default"
							@click="updateRouterView('/components/output/saveOutput')">新建</button>
						<button type="button" 
						    class="col-md-2 col-md-offset-1 btn btn-default"
							@click="batchDeleteOutput">批量删除</button>	
					</div>
				</form>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<h2>分页搜索结果</h2>
			<div class="table-responsive">
				<table
					class="table table-bordered table-hover tablesorter    table-striped table-responsive">
					<thead>
						<tr>
							<th class="header"><input type="checkbox"
								v-model="selectAllItemId" value="true">序号 <i
								class="fa fa-sort"></i></th>
							<th class="header">输出流名称 <i class="fa fa-sort"></i></th>
							<th class="header">输出流类型 <i class="fa fa-sort"></i></th>
							<th class="header">创建人 <i class="fa fa-sort"></i></th>
							<th class="header">创建时间 <i class="fa fa-sort"></i></th>
							<th class="header">操作 <i class="fa fa-sort"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) of data.pageList">
							<td><input type="checkbox" name="id" v-model="selectItemIds"
								:value="item.id"> {{index+1}}</td>
							<td>{{item.name}}</td>
							<td>{{item.type}}</td>
							<td>{{item.createUserName}}</td>
							<td>{{item.createTime}}</td>
							<td>						
								<a href="javascript:void(0)" @click="deleteOutput({items:[{id:item.id,name:item.name}],pageNum:query.pageNum,pageSize:query.pageSize})">删除</a>
								<a href="javascript:void(0)" @click="updateRouterView('/components/output/updateOutput',{id:item.id,name:item.name})">编辑</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.table-responsive -->
		</div>
		<!-- /.row -->

		<div class="row">
			<ul class="pagination" style="float: right">
				<li><span>共{{Math.ceil((data.total+1)/query.pageSize)}}页{{data.total}}条记录</span>
				</li>
				<li><a href="javascript:void(0)"
					@click="pageOutput(1,query.pageSize)">首页</a></li>
				<li><a href="javascript:void(0)"
					@click="pageOutput(query.pageNum>1?query.pageNum-1:query.pageNum,query.pageSize)"
					class="previous disabled">&laquo;上一页</a></li>
				<li><a :style="item.style" v-for="item of array"
					href='javascript:void(0)'
					@click="pageOutput( item.pageNum,query.pageSize )">{{item.pageNum}}&nbsp;</a></li>
				<li><a href="javascript:void(0)"
					@click="pageOutput(query.pageNum<Math.ceil((data.total+1)/query.pageSize)?query.pageNum+1:query.pageNum,query.pageSize)"
					class="next ">下一页&raquo;</a></li>
				<li><a href="javascript:void(0)"
					@click="pageOutput(Math.ceil((data.total+1)/query.pageSize),query.pageSize)">尾页</a>
				</li>
				<li><span>跳转至<input
						style="width: 24px; padding-top: 0px; padding-bottom: 0px"
						type="text" v-model="query.pageNum" />页
				</span></li>
				<li><span>每页<input
						style="width: 24px; padding-top: 0px; padding-bottom: 0px"
						type="text" v-model="query.pageSize" />条
				</span></li>
				<li><a href='javascript:void(0)'
					@click="pageOutput(query.pageNum,query.pageSize)">确定</a></li>
			</ul>
		</div>
		<!-- /.row -->

	</div>
	<!-- /#page-wrapper -->
	<deleteOutput ref="deleteOutput" @pageOutput="pageOutput"  @setCodeAndMsg="setCodeAndMsg"/>
</div>
<!-- /#wrapper -->
