<div id="container">
        
         <div class="row">
           <ol class="breadcrumb">
             <li><a href="javascript:void(0)" @click="updateContainer('/')"><i class="fa fa-dashboard"></i> 主页</a></li>
             <li class="active"><i class="fa fa-edit"></i> 输入流</li>
           </ol>
           
           <div v-if="code && code!=200" 
			class="alert alert-warning ">
			<button type="button" class="close" @click="code=null"	 >×</button>
			{{msg}}
			</div>
         </div>


       
         <div class="row">
         
         <div class="col-md-8 col-md-offset-2">
           <form id="form" class="form-horizontal " role="form">
				
				<div class="form-group ">
					<label class="col-md-2 control-label">插件名称</label>
					<div class="col-md-6">
						<input class="form-control" v-model="name" name="name" type="text">
					</div>
				</div>
			
 
        <div class="form-group">
            <label class="col-md-2 control-label">开始时间：</label>        
            <div class='col-md-6 input-group date ' id='startCreateTime'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
  
 
        <div class="form-group">
            <label class="col-md-2 control-label">结束时间：</label>        
            <div class='col-md-6 input-group date' id='endCreateTime'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
 
    
			 
			 
				<div class="form-group ">
					<button type="button"
						class="col-md-1 col-md-offset-4 btn btn-default" @click="pageInput(1,data.pageSize)">搜索</button>
					<button type="button"
						class="col-md-1 col-md-offset-1  btn btn-default"
						@click="updateContainer('/components/saveInput.html')">新建</button>
				</div>
				
			
			</form>
		</div>
		</div>
		
		<div class="row">
		
		
           <h2>分页搜索结果</h2>
           <div class="table-responsive">
             <table class="table table-bordered table-hover tablesorter    table-striped table-responsive">
               <thead>
                 <tr>
                 <th class="header">插件名称 <i class="fa fa-sort"></i></th>
                   <th class="header">输入流名称 <i class="fa fa-sort"></i></th>
                   <th class="header">用户名 <i class="fa fa-sort"></i></th>
                   <th class="header">列 <i class="fa fa-sort"></i></th>
                   <th class="header">表 <i class="fa fa-sort"></i></th>
                    <th class="header">创建人 <i class="fa fa-sort"></i></th>
                     <th class="header">创建时间 <i class="fa fa-sort"></i></th>
                 </tr>
                 
               </thead>
               <tbody>
                 <tr v-for="item of data.pageList"  >
                 <td>{{item.name}}</td>
				<td>{{item.readerName}}</td>
				<td>{{item.readerParameterUsername}}</td>
				<td>{{item.readerParameterColumn}}</td>
				<td>{{item.readerParameterConnectionTable}}</td>
				<td>{{item.createUserName}}</td>
				<td>{{item.createTime}}</td>
			</tr>
               </tbody>
             </table>
           </div>
           </div>
           
           
           <div class="row">
           <ul class="pagination" style="float:right ">
			<li><span>共{{Math.ceil((data.total+1)/data.pageSize)}}页{{data.total}}条记录</span>
			</li>
			<li><a href="javascript:void(0)" @click="pageInput(1,data.pageSize)">首页</a></li>
			<li><a href="javascript:void(0)"
				@click="pageInput(data.pageNum>1?data.pageNum-1:data.pageNum,data.pageSize)"
				class="previous disabled">&laquo;上一页</a></li>
			<li><a :style="item.style" v-for="item of array"
				href='javascript:void(0)'
				@click="pageInput( item.pageNum,data.pageSize )">{{item.pageNum}}&nbsp;</a></li>
			<li><a href="javascript:void(0)"
				@click="pageInput(data.pageNum<Math.ceil((data.total+1)/data.pageSize)?data.pageNum+1:data.pageNum,data.pageSize)"
				class="next ">下一页&raquo;</a></li>
			<li><a href="javascript:void(0)"
				@click="pageInput(Math.ceil((data.total+1)/data.pageSize),data.pageSize)">尾页</a>
			</li>
			<li><span>跳转至<input
					style="width: 24px;  padding-top: 0px; padding-bottom: 0px"
					type="text" v-model="data.pageNum" />页
			</span></li>
			<li><span>每页<input
					style="width: 24px;  padding-top: 0px; padding-bottom: 0px"
					type="text" v-model="data.pageSize" />条
			</span></li>
			<li><a href='javascript:void(0)'
				@click="pageInput(data.pageNum,data.pageSize)">确定</a></li>
		</ul>
         </div>
         
  
       
       
      
</div>
	 