<div id="wrapper">
	<navigation />

	<div id="page-wrapper">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="javascript:void(0)"
					@click="updateRouterView('/components/home/home')"><i
						class="fa fa-dashboard"></i> 主页</a></li>
				<li class="active"><i class="fa fa-edit"></i>计划任务</li>
			</ol>

			<div v-if="code && code!=200" class="alert alert-warning ">
				<button type="button" class="close" @click="code=null">×</button>
				{{msg}}
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form id="form" class="form-horizontal " role="form">

					<div class="form-group ">
						<label class="col-md-2 control-label">计划任务名称</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.name" name="name"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">输入流名称</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.inputName" name="inputName"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">输入流类型</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.readerName" name="readerName"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">输出流名称</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.outputName" name="outputName"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">输出流类型</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.writerName" name="writerName"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">交换清洗名称</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.transformerName" name="transformerName"
								type="text">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-md-2 control-label">交换清洗类型</label>
						<div class="col-md-6">
							<input class="form-control" v-model="query.transformerType" name="transformerType"
								type="text">
						</div>
					</div>
					

					<div class="form-group">
						<label class="col-md-2 control-label">开始时间：</label>
						<div class='col-md-6 input-group date ' id='startCreateTime'>
							<input type='text' class="form-control" v-model="query.startCreateTime"
								data-format="YYYY-MM-DD hh:mm:ss" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label">结束时间：</label>
						<div class='col-md-6 input-group date' id='endCreateTime'>
							<input type='text' class="form-control" v-model="query.endCreateTime"
								data-format="YYYY-MM-DD hh:mm:ss" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>

					<div class="form-group ">							
					     <button type="button"
							class="col-md-1 col-md-offset-2 btn btn-default"
							@click="pageJob(1,query.pageSize)">搜索</button>
						<button type="button"
							class="col-md-1 col-md-offset-1  btn btn-default"
							@click="updateRouterView('/components/job/saveJob')">新建</button>
						<button type="button" 
						    class="col-md-2 col-md-offset-1 btn btn-default"
							@click="batchDeleteJob">批量删除</button>		
					</div>
				</form>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<h2>分页搜索结果</h2>
			<div class="table-responsive">
				<table
					class="table table-bordered table-hover tablesorter    table-striped table-responsive">
					<thead>
						<tr>
							<th class="header"><input type="checkbox"
								v-model="selectAllItemId" value="true">序号 <i
								class="fa fa-sort"></i></th>
							<th class="header">计划任务 <i class="fa fa-sort"></i></th>
							<th class="header">输入流 <i class="fa fa-sort"></i></th>
							<th class="header">输出流 <i class="fa fa-sort"></i></th>
							<th class="header" width="15%">状态<i class="fa fa-sort"></i></th>
							<th class="header">最新构建 <i class="fa fa-sort"></i></th>
							<th class="header">操作 <i class="fa fa-sort"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) of data.pageList">
							<td><input type="checkbox" name="id" v-model="selectItemIds"
								:value="item.id"> {{index+1}}</td>
							<td>{{item.name}}</td>
							<td>{{item.inputName}}</td>
							<td>{{item.outputName}}</td>
							
							<td v-if="item.status!=2">{{item.status==1?"就绪":item.status==2?"构建中":"停用"}}</td>
							<td v-if="item.status==2">
								<div class="progress progress-striped active">
									<div class="progress-bar progress-bar-success" role="progressbar"
										 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
										 :style="{width: item.lastBuildProgress}">
										<span class="sr-only">{{item.lastBuildProgress}} 完成</span>
									</div>
								</div>
							</td>
							
							<td v-if="!item.lastBuildNumber"> </td>					
							<td v-if="item.lastBuildNumber"><a href="javascript:void(0)" @click="updateRouterView('/components/build/getBuild',{id:item.lastBuildId,name:item.lastBuildNumber})">查看日志</a></td>
							
							<td>							
								<a href="javascript:void(0)" v-if="item.status==1" @click="runJob({id:item.id,name:item.name,pageNum:query.pageNum,pageSize:query.pageSize})">运行</a>
								<a href="javascript:void(0)" v-if="item.status==2" @click="stopJob({id:item.id,name:item.name,pageNum:query.pageNum,pageSize:query.pageSize})">停止</a>
								<a href="javascript:void(0)" v-if="item.status==0" @click="enableJob({id:item.id,name:item.name,pageNum:query.pageNum,pageSize:query.pageSize})">启用</a>
								<a href="javascript:void(0)" v-if="item.status==1" @click="disableJob({id:item.id,name:item.name,pageNum:query.pageNum,pageSize:query.pageSize})">停用</a>
								<a href="javascript:void(0)" @click="deleteJob({items:[{id:item.id,name:item.name}],pageNum:query.pageNum,pageSize:query.pageSize})">删除</a>
    							<a href="javascript:void(0)" @click="updateRouterView('/components/job/updateJob',{id:item.id,name:item.name})">编辑</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.table-responsive -->
		</div>
		<!-- /.row -->

		<div class="row">
			<ul class="pagination" style="float: right">
				<li><span>共{{Math.ceil((data.total+1)/query.pageSize)}}页{{data.total}}条记录</span>
				</li>
				<li><a href="javascript:void(0)"
					@click="pageJob(1,query.pageSize)">首页</a></li>
				<li><a href="javascript:void(0)"
					@click="pageJob(query.pageNum>1?query.pageNum-1:query.pageNum,query.pageSize)"
					class="previous disabled">&laquo;上一页</a></li>
				<li><a :style="item.style" v-for="item of array"
					href='javascript:void(0)'
					@click="pageJob( item.pageNum,query.pageSize )">{{item.pageNum}}&nbsp;</a></li>
				<li><a href="javascript:void(0)"
					@click="pageJob(query.pageNum<Math.ceil((data.total+1)/query.pageSize)?query.pageNum+1:query.pageNum,query.pageSize)"
					class="next ">下一页&raquo;</a></li>
				<li><a href="javascript:void(0)"
					@click="pageJob(Math.ceil((data.total+1)/query.pageSize),query.pageSize)">尾页</a>
				</li>
				<li><span>跳转至<input
						style="width: 24px; padding-top: 0px; padding-bottom: 0px"
						type="text" v-model="query.pageNum" />页
				</span></li>
				<li><span>每页<input
						style="width: 24px; padding-top: 0px; padding-bottom: 0px"
						type="text" v-model="query.pageSize" />条
				</span></li>
				<li><a href='javascript:void(0)'
					@click="pageJob(query.pageNum,query.pageSize)">确定</a></li>
			</ul>
		</div>
		<!-- /.row -->

	</div>
	<!-- /#page-wrapper -->
	<runJob ref="runJob" @pageJob="pageJob" @setCodeAndMsg="setCodeAndMsg"/>
	<stopJob ref="stopJob" @pageJob="pageJob" @setCodeAndMsg="setCodeAndMsg" />
	<enableJob ref="enableJob" @pageJob="pageJob" @setCodeAndMsg="setCodeAndMsg" />
	<disableJob ref="disableJob" @pageJob="pageJob" @setCodeAndMsg="setCodeAndMsg" />
	<deleteJob ref="deleteJob" @pageJob="pageJob" @setCodeAndMsg="setCodeAndMsg" />
</div>
<!-- /#wrapper -->
