html {
    display: block;
    color: -internal-root-color;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.table-default {
    font-size: 12px;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
body {
    font-family: menlo, "Courier New", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #303642;
    font-size: 12px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table-default th {
    text-align: inherit;
    background: #F8F8F8;
    padding: 8px 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: #D77558;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}

.page {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.page a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    background: #fff;
    color: #3b3b3b;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 1px;
}
.page input {
    width: 30px;
    padding: 0 2px;
    text-align: center;
}
