<div>

			<div class="form-group ">
				<label  for="parameterUsername" class="col-md-2 control-label">用户名</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterUsername" name="parameterUsername" id="parameterUsername"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="parameterPassword" class="col-md-2 control-label">密码</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterPassword" name="parameterPassword" id="parameterPassword"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="parameterColumn"  class="col-md-2 control-label">列</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterColumn" name="parameterColumn" id="parameterColumn"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="parameterWhere" class="col-md-2 control-label">where条件</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterWhere" name="parameterWhere" id="parameterWhere"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="parameterConnectionJdbcUrl" class="col-md-2 control-label">url</label>
				<div class="col-md-9">
					<input class="form-control"
						v-model="query.parameterConnectionJdbcUrl" name="parameterConnectionJdbcUrl" id="parameterConnectionJdbcUrl" type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label  for="parameterConnectionTable" class="col-md-2 control-label">表</label>
				<div class="col-md-9">
					<input class="form-control" 
						v-model="query.parameterConnectionTable" name="parameterConnectionTable" id="parameterConnectionTable" type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>
 
</div>

