<div id="wrapper">
	<navigation/>

	<div id="page-wrapper">

<div class="row">
	<div class="col-md-11 col-md-offset-1">
	    <div style="text-align:center;">
	    <h1>编辑输入流表单</h1>
	    <h1><small>{{query.name}}</small></h1>
	    </div>
		<ol class="breadcrumb">
			<li><a href="javascript:void(0)" @click="updateRouterView('/components/home/home')"><i
					class="fa fa-dashboard"></i>主页</a></li>
			<li><a href="javascript:void(0)"
				@click="updateRouterView('/components/input/pageInput')"><i
					class="fa fa-dashboard"></i>输入流</a></li>
			<li class="active"><i class="fa fa-edit"></i>编辑</li>
		</ol>
		<div v-if="code && code!=200" 
			class="alert alert-warning ">
			<button type="button" class="close" @click="code=null"	 >×</button>
			{{msg}}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<form id="form" class="form-horizontal " role="form">

			<div class="form-group ">
				<label for="name"  class="col-md-2 control-label">输入流名称</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.name" name="name" id="name" type="text" readonly>
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group">
				<label for="type" class="col-md-2 control-label">输入流类型</label>
				<div class="col-md-9">
				<select class="form-control" v-model="query.type" name="type" id="type" disabled>
					<option>mysqlreader</option>
					<option>httpreader</option>
					<option>txtfilereader</option>
					<option>ftpreader</option>			
				</select>	
				</div>
				<p class="help-block with-errors"> </p>	
			</div>

			<div class="form-group ">
				<label for="parameterUsername"  class="col-md-2 control-label">用户名</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterUsername" name="parameterUsername" id="parameterUsername"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label for="parameterPassword"  class="col-md-2 control-label">密码</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterPassword" name="parameterPassword" id="parameterPassword"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label for="parameterColumn"  class="col-md-2 control-label">列</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterColumn" name="parameterColumn" id="parameterColumn"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label for="parameterWhere"  class="col-md-2 control-label">where条件</label>
				<div class="col-md-9">
					<input class="form-control" v-model="query.parameterWhere" name="parameterWhere" id="parameterWhere"
						type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label class="col-md-2 control-label">url</label>
				<div for="parameterConnectionJdbcUrl" class="col-md-9">
					<input class="form-control"
						v-model="query.parameterConnectionJdbcUrl" name="parameterConnectionJdbcUrl" id="parameterConnectionJdbcUrl"  type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>

			<div class="form-group ">
				<label for="parameterConnectionTable" class="col-md-2 control-label">表</label>
				<div class="col-md-9">
					<input class="form-control" 
						v-model="query.parameterConnectionTable" name="parameterConnectionTable" id="parameterConnectionTable" type="text">
				</div>
				<p class="help-block with-errors"> </p>
			</div>




			<div class="form-group ">
				<button type="button"
					class="col-md-1 col-md-offset-4 btn btn-default" @click="back()">返回</button>
				<button type="button"
					class="col-md-1 col-md-offset-1  btn btn-default"
					@click="updateInput()">确定</button>
			</div>

		</form>

	</div>
	</div><!-- /.row -->
</div><!-- /#page-wrapper -->      
</div><!-- /#wrapper -->

