 <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">         
          <a class="navbar-brand" href="javascript:void(0)" @click="updateRouterView('/components/home/home')" >数据交换平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="javascript:void(0)" @click="updateRouterView('/components/home/home')" class="active">主页</a></li>
            <li><a href="javascript:void(0)" @click="updateRouterView('/components/input/pageInput')" ><i class="fa fa-table"></i>输入流管理</a></li>
            <li><a href="javascript:void(0)" @click="updateRouterView('/components/output/pageOutput')" ><i class="fa fa-table"></i>输出流管理</a></li>
   			<li><a href="javascript:void(0)" @click="updateRouterView('/components/job/pageJob')" ><i class="fa fa-table"></i>任务管理</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
             
         
            <li class="dropdown user-dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                 <li><a href="javascript:void(0)" @click="updateUserPassword()"><i class="fa fa-gear"></i>修改密码</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" @click="logout()"><i class="fa fa-power-off"></i> 退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <logout  ref="logout"/>
      </nav>